name: CI

on:
    push:
        branches:
            - main

jobs:
    setup:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: "20"
                  cache: "pnpm"
            - name: Install Dependencies
              run: pnpm install --frozen-lockfile

    lint:
        needs: setup
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: "20"
                  cache: "pnpm"
            - name: Install Dependencies
              run: pnpm install --frozen-lockfile
            - name: Lint
              run: pnpm run lint

    build:
        needs: setup
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: "20"
                  cache: "pnpm"
            - name: Install Dependencies
              run: pnpm install --frozen-lockfile
            - name: Build
              run: pnpm run build
